# Home task: Pandas

In [1]:
import pandas as pd
import numpy as np
import os
import re

#### Set working directory

In [2]:
cwd= os.getcwd()
path = os.path.join(cwd,'/tree/Camp2022')

#### Loading file Energy Indicators.xls, excluding the footer and header information from the datafile, and setting column names.

In [3]:
file1 = 'Energy Indicators.xls.'
energy = pd.read_excel(file1, header=0, skiprows=17, skipfooter=38)
energy.columns = ['one','two', 'Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

#### Ridding first two columns

In [4]:
energy.drop(columns=['one','two'], inplace=True)
energy.replace('...', np.nan, inplace=True)

#### Removing numbers and parenthesis in countries names

In [5]:
energy['Country'] = energy['Country'].str.replace('\d+', '')
energy['Country'] = energy['Country'].str.replace('\s\([^)]*\)', '')

C:\Users\longe\AppData\Local\Temp\ipykernel_8800\2070413150.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  energy['Country'] = energy['Country'].str.replace('\d+', '')
C:\Users\longe\AppData\Local\Temp\ipykernel_8800\2070413150.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  energy['Country'] = energy['Country'].str.replace('\s\([^)]*\)', '')

#### Converting Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule).

In [6]:
energy['Energy Supply'] = energy['Energy Supply']*1000000

#### Renaming countries for using in later questions

In [7]:
energy.replace('Republic of Korea', 'South Korea', inplace=True)
energy.replace('United States of America', 'United States', inplace=True)
energy.replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom', inplace=True)
energy.replace('China, Hong Kong Special Administrative Region', 'Hong Kong', inplace=True)

#### Loading the GDP data from the file "world_bank.csv"

In [8]:
file2 = 'world_bank.csv'
GDP = pd.read_csv(file2, skiprows=4)

#### Renaming countries and column name for using in later questions

In [9]:
GDP.replace('Korea, Rep.', 'South Korea', inplace=True)
GDP.replace('Iran, Islamic Rep.', 'Iran', inplace=True)
GDP.replace('Hong Kong SAR, China', 'Hong Kong', inplace=True)
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)

#### Loading "Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology".

In [10]:
file3 = 'scimagojr country rank 1996-2021.xlsx'
ScimEn = pd.read_excel(file3)

#### Joining three datasets: Energy, GDP, and ScimEn into a new datase. 
Using only 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank'.

In [11]:
df = pd.merge(pd.merge(energy, GDP, on='Country'), ScimEn, on='Country')
df.set_index('Country',inplace=True)
df = df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
df = (df.loc[df['Rank'].isin([i for i in range(1, 16)])])
df.sort_values('Rank',inplace=True)

#### Function "answer_one" returning resulted DataFrame (20 columns and 15 entries)

In [12]:
def answer_one():
    return df

In [13]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,303064,301778,3036531,2092737,10.02,273,1.271910e+11,93.0,19.754910,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2,184851,181106,2623922,819242,14.19,389,9.083800e+10,286.0,11.570980,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,60257,58589,590570,213760,9.80,198,3.319500e+10,26.0,14.969080,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4,52780,52281,557023,132113,10.55,203,1.898400e+10,149.0,10.232820,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,47141,45928,748994,132737,15.89,244,7.920000e+09,124.0,10.600470,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
Germany,6,42343,41464,528645,115432,12.48,211,1.326100e+10,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,39424,39189,142937,67935,3.63,96,3.070900e+10,214.0,17.288680,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,35588,34940,665415,113363,18.70,246,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,31260,29959,433388,105641,13.86,177,6.530000e+09,109.0,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,31200,30949,405923,74753,13.01,169,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,26848,26320,403834,73792,15.04,190,1.059700e+10,166.0,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,25481,25204,398571,122647,15.64,159,9.172000e+09,119.0,5.707721,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,24969,24505,427391,77583,17.12,187,4.923000e+09,106.0,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
Brazil,14,23110,22762,219895,53635,9.52,139,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,22803,22276,396186,62694,17.37,192,5.386000e+09,231.0,11.810810,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12

#### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

In [14]:
def answer_two():
    # YOUR CODE HERE
    GDP_mean=answer_one()
    return  GDP_mean[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].apply(np.mean,axis=1).sort_values(ascending = False)

In [15]:
answer_two()

Country
United States         1.570403e+13
China                 6.927702e+12
Japan                 5.239642e+12
Germany               3.523342e+12
United Kingdom        2.792011e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400727e+12
South Korea           1.221372e+12
Australia             1.207106e+12
Iran                  4.563261e+11
dtype: float64

#### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

In [16]:
def answer_three():
    GDP_change = answer_one()
    GDP_change["AvgGDP"] = answer_two()
    GDP_change.sort_values("AvgGDP", ascending=False, inplace=True)
    final = GDP_change.iloc[5]['2015']
    initial = GDP_change.iloc[5]['2006']
    return abs(final - initial)

In [17]:
answer_three()

118652421857.7998

#### Question 4
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

In [18]:
def answer_four():
    citations = answer_one()
    citations["Ratio"] = citations["Self-citations"] / citations["Citations"]
    return citations["Ratio"].argmax(), citations["Ratio"].max()

In [19]:
answer_four()

(1, 0.689186772669207)

#### Question 5
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?

In [20]:
def answer_five():
    population = answer_one()
    population["Population"] = population['Energy Supply'] / population['Energy Supply per Capita']
    final = population.sort_values("Population", ascending=False)
    return final.iloc[2].name

In [21]:
answer_five()

'United States'

#### Question 6
Create a column that estimates the number of citable documents per person. What is the correlation between the 
number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).

In [22]:
def answer_six():
    relation = answer_one()
    relation["Population"] = relation['Energy Supply'] / relation['Energy Supply per Capita']
    relation["Citable docs per Capita"] = relation["Citable documents"] / relation["Population"]
    return relation["Citable docs per Capita"].corr(relation['Energy Supply per Capita'])

In [23]:
answer_six()

0.7272331912434825

#### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

In [24]:
def answer_seven():
    display = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    groups = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
    display['Estimate Population'] = display['Energy Supply'] / display['Energy Supply per Capita']
    for group, frame in display.groupby(ContinentDict):
        groups.loc[group] = [len(frame), frame['Estimate Population'].sum(),frame['Estimate Population'].mean(),frame['Estimate Population'].std()]
    return groups

In [25]:
answer_seven()

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN